:root {
  --branco-background: #f3f3f3;
  --color-tema-geral: #594638;
  --cinza-background: #272727;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  background: var(--branco-background);
  color: #696969;
  -webkit-font-smoothing: antialiased;
}

:root {
  --header-height: 4.5rem;
}

.divider-1 {
  height: 1.2px;
  background: linear-gradient(
    270deg,
    #69b99d 0%,
    rgba(204, 244, 230, 0.34) 100%
  );
}

.divider-2 {
  background: linear-gradient(
    270deg,
    #69b99d 0%,
    rgba(204, 244, 230, 0.34) 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
  height: 1px;
}

.title {
  font: 900 2rem "Poppins", sans-serif;
  color: #0f241d;
}

img {
  width: 100%;
  height: auto;

  background: url(altumcode-XMFZqrGyV-Q-unsplash.jpg);
filter: drop-shadow(28px -28px 0px #B09B88);
}

.button {
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;

  background: var(--color-tema-geral);
  color: #ffffff;
  border-radius: 0.25rem;

  font: 500 1rem "DM Sans", sans-serif;
}

.button:hover {
  transition: 0.4s;
  background: var(--color-tema-geral);
}

/*-----   HEADER   -----*/

.container {
  width: 80%;
  margin: 0 1.5rem 0 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 1rem;
}

.section header strong {
  color: var(--cinza-background);
}

.logo {
  font: 700 1.5rem "Poppins";
  color: #0f241d;
}

.logo spam {
  color: var(--color-tema-geral);
}

.logo-alt spam {
  color: var(--branco-background);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background: #f9f9f9;
}

#header.scroll {
  background: #ffffff;
  transition: background 0.3s;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
}

/*--- MENU  -----*/

nav ul li {
  text-align: center;
  font: 500 1rem "Poppins";
}

nav ul li a {
  transition: color 0.4s;
  position: relative;
}

nav ul li a:hover {
  color: #69b99d;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  background: #69b99d;

  transition: width 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.3s;
}

nav .menu ul {
  display: none;
}

/*----   SHOW MENU   ----*/

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: #f9f9f9;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/*-----   TOGGLE MENU   ----*/

.toggle {
  color: #69b99d;
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*----     HOME    -----*/

#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image img {
  position: relative;
  right: 1rem;

  border-radius: 0.25rem;
}

#home .text {
  margin: 0 1.5rem 0 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/*----    ABOUT    -------*/

#about {
  background: #ffffff;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: "";
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
  height: 100%;
  width: 100%;

  background: #ccf4e6;
  border-radius: 0.25rem;
}

#about .image img {
  position: relative;
  width: 100%;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin: 0 1.5rem 0 1.5rem;
}

/*------    SERVICES     -------*/

.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid #69b99d;
  border-radius: 0.25rem 0.25rem 0 0;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
}

#img-icon {
  width: 5rem;
  height: 5rem;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*----   TESTiMONIALS   ----*/

#testimonials {
  background: #ffffff;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-bottom: 0;
  margin: 0 1.5rem 0 1.5rem;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  margin-bottom: 2rem;
}

cite {
  display: flex;
  align-items: center;
}

.aspas {
  width: 1.5rem;
  height: 0.9rem;
  padding-right: 0.5rem;
}

.img-depoimento {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/*---- SWIPER ----*/

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}
.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: #69b99d;
}

/*----   CONTACTS   -------*/

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

#contact ul li i {
  font-size: 1.2rem;
  margin-right: 0.625rem;
  color: #69b99d;
}

/*---  FOOTER ----*/

footer {
  background: #69b99d;
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.7rem;
}

footer .brand p {
  color: #f9f9f9;
  margin-bottom: 0.5rem;
}

footer i {
  color: #f9f9f9;
  font-size: 1.5rem;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  display: inline-block;
  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-8px);
}

.icon-instagram {
  margin-left: 0.4rem;
}

/*=====   MEDIA QUERIES  ======*/

/* extra large devices: 1200 >= (telas enormes)*/
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 33rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .button {
    height: 3.25rem;
  }

  main {
    margin-top: var(--header-height);
  }

  /*-- MENU ---*/
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 500 1rem var(--body-font);
  }

  nav .icon-menu1 {
    display: none;
  }

  /*-- HOME ---*/
  #home .container {
    grid-auto-flow: column;
    margin-left: 6rem;
    justify-content: space-between;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /*--- ABOUT ---*/
  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
    justify-content: space-between;
  }

  #about .image::before {
    height: 100%;
    width: 100%;
  }

  /*--- SERVICES ---*/
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /*--- TESTIMONIALS ---*/
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /*--- CONTACTS ---*/
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /*--- FOOTER ---*/
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

/* large devices: 1023 >= (computador grande)*/
@media (min-width: 1023px) {
  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 33rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .button {
    height: 3.25rem;
  }

  main {
    margin-top: var(--header-height);
  }

  /*-- MENU ---*/
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 500 1.3rem var(--body-font);
  }

  nav .icon-menu1 {
    display: none;
  }

  /*-- HOME ---*/
  #home .container {
    grid-auto-flow: column;
    margin-left: 6rem;
    justify-content: space-between;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /*--- ABOUT ---*/
  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
    justify-content: space-between;
  }

  #about .image::before {
    height: 100%;
    width: 100%;
  }

  /*--- SERVICES ---*/
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /*--- TESTIMONIALS ---*/
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /*--- CONTACTS ---*/
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /*--- FOOTER ---*/
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

/* large devices: 992 >= (computador normal)*/
@media (min-width: 900px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 8rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 33rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .button {
    height: 3.25rem;
  }

  main {
    margin-top: var(--header-height);
  }

  /*-- MENU ---*/
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 500 1rem var(--body-font);
  }

  nav .icon-menu1 {
    display: none;
  }

  /*-- HOME ---*/
  #home .container {
    grid-auto-flow: column;
    margin: 0 auto;
    justify-content: space-between;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /*--- ABOUT ---*/
  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
    justify-content: space-between;
  }

  #about .image::before {
    height: 90%;
    width: 100%;
    left: -5rem;
    top: -1.1rem;
  }

  #about .image img {
    top: 1rem;
    width: 100%;
    height: auto;
  }

  /*--- SERVICES ---*/
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    height: auto;
    padding: 2.5rem;
  }

  /*--- TESTIMONIALS ---*/
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /*--- CONTACTS ---*/
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /*--- FOOTER ---*/
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}
